<template>
  <div class="cart" v-on:mouseover="show = true" v-on:mouseleave="show = false">
    <img class="cart__img" :src="product.image" :alt="product.title" />
    <div class="d-flex justify-content-between">
      <span class="cart__text cart__title">{{ product.title }}</span>
      <transition>
        <div class="cart__footer" v-if="show">
          <span class="cart__text cart__price">
            {{ product.price }}
          </span>
          <v-switch class="switch" />
          <button
            @click="$emit('add', product)"
            type="button"
            class="btn btn-success"
          >
            Добавить
          </button>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import vSwitch from "@/components/v-switch.vue";
export default {
  props: {
    product: Object,
  },
  data() {
    return {
      show: false,
    };
  },
  components: {
    vSwitch,
  },
};
</script>

<style scoped>
.cart {
  padding: 0;
  border: 1px solid #d9d9d9;
  cursor: pointer;
  background-color: white;
}
.cart:not(:last-child) {
  margin-right: 20px;
}
.cart__img {
  height: 100%;
  width: 100%;
  margin-bottom: 15px;
}
.cart__text {
  display: block;
}
.cart__title {
  font-size: 16px;
  line-height: 20px;
  white-space: unset;
  text-overflow: unset;
  color: #999999;
  margin-bottom: 7px;
}
.cart__price {
  font-size: 18px;
  line-height: normal;
  padding: 0 5px 0 0;
}
.cart__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.switch {
  margin: 0 15px;
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
</style>
