<template>
  <div class="searh">
    <input
      v-model="searchRow"
      type="text"
      placeholder="Поиск"
      class="search__input form-control"
    />
    <div v-if="hints" class="searh__help">
      <span class="searh__help__item" v-for="item in search" :key="item.id">
        {{ item.title }}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    searchItems: Array,
  },
  data() {
    return {
      searchRow: "",
    };
  },
  methods: {},
  computed: {
    search() {
      if (this.searchRow.length > 0)
        return this.searchItems.filter((item) =>
          item.title.toLowerCase().includes(this.searchRow.toLowerCase())
        );
      return [];
    },
    hints() {
      return this.search.length > 0;
    },
  },
};
</script>

<style scoped>
.searh__help {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.searh__help__item {
  display: block;
  border:  solid 1px;
  width: 100%;
  cursor: pointer;
}
.searh__help__item:hover {
  opacity: 0.6;
}
.search__input {
  padding: 0;
  width: 200px;
  /* height: 100%; */
  margin-right: 10px;
}
</style>
