<template>
  <div class="switcher product__switcher">
    <button @click="val--" class="switcher__btn switcher__btn--plus">-</button>
    <input class="switcher__value" :value="val" />
    <button @click="val++" class="switcher__btn switcher__btn--minus">+</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      val: 1,
    };
  },

  watch: {
    val(newVal) {
      if (newVal < 1) {
        this.val = 1;
      }
    },
  },
};
</script>

<style scoped>
.switcher {
  display: flex;
}

.switcher__value {
  width: 40px;
  text-align: center;
  font-weight: 700;
  margin: 0 5px;
}
.switcher__btn {
  color: #fff;
  background-color: #b30f97;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.switcher__btn:hover {
  background-color: #e313bf;
}
</style>