<template>
  <v-header
    :searchItems="carts"
    :menuItems="menuItems"
    :bucket="cart"
    @remove="removeFromCart"
  />
  <main class="container">
    <carousel
      class="slider"
      :items-to-show="1"
      :wrapAround="true"
      :autoplay="0"
    >
      <slide v-for="cart in carts" :key="cart.title">
        <img class="cart__img" :src="cart.image" :alt="{ title }" />
      </slide>

      <template #addons>
        <navigation />
        <pagination />
      </template>
    </carousel>
    <div class="view">
      <v-small @updateSize="updateSize" :active="this.small" /><v-large
        @updateSize="updateSize"
        :active="this.large"
      />
    </div>
    <transition name="bounce">
      <div class="row carts" v-if="show">
        <v-cart
          class="col-3"
          v-for="cart in paginatedCarts[activeLink]"
          :key="cart.title"
          :product="cart"
          @add="addToCart"
        />
      </div>
    </transition>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li
          v-for="page in count"
          class="page-item"
          :key="page"
          @click.prevent="activeLink = page - 1"
        >
          <a class="page-link">{{ page }}</a>
        </li>
      </ul>
    </nav>
  </main>
  <v-footer />
</template>

<script>
import vHeader from "@/components/v-header.vue";
import vFooter from "@/components/v-footer.vue";
import "vue3-carousel/dist/carousel.css";
import { Carousel, Slide, Pagination, Navigation } from "vue3-carousel";
import VCart from "@/components/v-cart.vue";
import vSmall from "@/components/v-small.vue";
import vLarge from "@/components/v-large.vue";
export default {
  name: "App",
  components: {
    vHeader,
    vFooter,
    VCart,
    Carousel,
    Slide,
    Pagination,
    Navigation,
    vSmall,
    vLarge,
  },
  mounted() {
    this.show = true;
  },
  computed: {
    paginatedCarts: function () {
      const arr = Object.entries(this.carts);

      return Array.from({ length: Math.ceil(arr.length / this.size) }, (n, i) =>
        Object.fromEntries(arr.slice(i * this.size, (i + 1) * this.size))
      );
    },
    count: function () {
      return this.paginatedCarts.length;
    },
  },
  methods: {
    addToCart(product) {
      this.cart.push(product);
      this.$swal("Товар добавлен в корзину");
    },
    removeFromCart(title) {
      this.cart = this.cart.filter((e) => e.title !== title);
    },
    updateSize(size = 3) {
      this.size = size;
      this.large = !this.large;
      this.small = !this.small;
    },
  },
  data() {
    document.title =
      "Сеть магазинов одежды и аксессуаров O'STIN: модная женская и мужская одежда | Официальный интернет-магазин Остин в России";
    return {
      activeLink: 0,
      cart: [],
      show: false,
      carts: [],
      menuItems: {
        first: {
          title: "женщины",
          link: "test",
        },

        second: {
          title: "мужчины",
          link: "test",
        },
        third: {
          title: "девочки",
          link: "test",
        },
        fourth: {
          title: "мальчики",
          link: "test",
        },
      },
      size: 3,
      small: true,
      large: false,
    };
  },
  created() {
    fetch("https://fakestoreapi.com/products")
      .then((res) => res.json())
      .then((json) => (this.carts = json));
  },
};
</script>

<style scoped>
.slider {
  margin-bottom: 50px;
}
.carts {
  margin-bottom: 100px;
}
.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
</style>
